
@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/images/logo.png" alt="TriviaTonic Logo" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h1 class="display-4">About TriviaTonic</h1>
            <p class="lead">Your ultimate destination for mind-blowing trivia and quizzes.</p>
            <hr class="my-4">
            <p>At TriviaTonic, we believe that knowledge is power and learning should be fun. Our mission is to provide an engaging platform where trivia enthusiasts can test their knowledge, learn new facts, and compete with friends and family.</p>
            <p>With a wide range of categories and regularly updated questions, TriviaTonic offers something for everyone. Whether you're a history buff, a science geek, or a pop culture aficionado, you'll find quizzes that challenge and entertain you.</p>
            <p>Join our community of trivia lovers today and discover the joy of learning through play!</p>
        </div>
    </div>
</div>