@{
    ViewData["Title"] = "Quiz";
}

<div class="container mt-5">
    <!-- Loading Screen -->
    <div id="loading-screen" class="text-center hidden">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Loading quiz data...</p>
    </div>

    <!-- Progress Tracker -->
    <div id="progress-container" class="mb-3 hidden">
        <h5>Question <span id="current-question">1</span> out of <span id="total-questions">0</span></h5>
    </div>

    <!-- Quiz Content -->
    <div id="quiz-container" class="mb-5">
        <!-- Questions will be dynamically added here -->
    </div>

    <!-- Final Score -->
    <div id="score-container" class="alert alert-success" role="alert">
        <p class="text-center h5 mb-1">Your Score: <span id="score"></span></p>
        <button class="btn btn-primary mt-3  d-block mx-auto" onclick="redirectToCategory()">Back to Categories</button>
    </div>

    <!-- Action Button -->
    <button id="action-button" class="btn btn-primary mb-3 hidden" onclick="handleAction()">Submit</button>
</div>

<script src="~/js/quiz.js"></script>
